#img-and-search-container{
    position: relative;
    bottom: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: fit-content;
    width:fit-content
}
#img-logo{
    width: 500px;
}
#form-container{
    margin-top: 15px;
    border-radius: 10px;
    width: 600px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}
#text-input{
    height: 30px;
    width: 400px;
    border: 2px solid #434e54;
}
form button{
    cursor: pointer;
    height: 33px;
    margin-left:2px;
    padding: 5px;
    display: flex;
    align-items: center;
    border: none;
    background-color: #434e54;
    color: white;
}
.error-message{
    visibility: hidden;
}
#select-list{
    margin-right: 2px;
    height: 34px;
    width: 100px;
    border: 2px solid #434e54;
}

@media (max-width: 700px){
    #img-logo{
        width: 80%;
    }
    #img-and-search-container{
        width: 100%;
    }
    #form-container{
        width: 100%;
        border-radius: 0px;
    }
}